.char-input-row {
    margin-left: 10px;
    margin-top: 7.5px;
}

.char-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 5px;
    background-color: #272829;
    /* Removes blinking cursor */
    color: transparent;
    text-shadow: 0 0 0 #fff;
    border: 1px solid #73777B;
    text-transform: uppercase;
}

.green {
    background-color: #2b9348;
}

.yellow {
    background-color: #faa307;
}